#waldo {
  width: 100%;
  margin: 0;
  padding: 0;
}

#waldo-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.dropdown {
  position: absolute;
  display: none;
  transform: translateX(-50%);
  background: white;
  padding: 10px;
}

.dropdown-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-list > li > a {
  padding: 0;
  margin: 0 0 15px 0;
  text-decoration: none;
  &:hover {
    background-color: #4D8AF6;
    color: white;
  }
}
